<div class="message" id="<%= message.id %>">
  <ul class = "message_block">
    <li><%= image_tag "somebody.jpg" ,:size => '55x55'%>
    <li><p class="left_balloon"><%= message.content %></p>
    <li id="id"><h6><small><%= message.created_at %></small></h6>
  </ul>
</div>
